@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!--<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>-->

<address>
    <strong>Support:</strong>   <a href="mailto:4950CSCI@gmail.com">4950CSCI@gmail.com</a><br />
    <strong>Bug Reports:</strong> <a href="https://github.com/4950/DirtyGame/issues">4950 Github</a>
</address>