
@{
    ViewBag.Title = "Download";
}

<h2>Tower Offense Downloads</h2><br />
<h3>Internal Beta - Version 0.3.1 - 4/19/14</h3>
<p><a href="https://portalvhdspqj9kzn4lqvlp.blob.core.windows.net/game/TowerOffense-0.3.1.exe" target="_blank" class="btn btn-primary btn-large">Download</a></p>