
@{
    ViewBag.Title = "Download";
}

<h2>Tower Offense Downloads</h2><br />
<h3>Version 0.1.0 - 3/6/14</h3>
<p><a href="https://portalvhdspqj9kzn4lqvlp.blob.core.windows.net/game/TowerOffense.zip" target="_blank" class="btn btn-primary btn-large">Download</a></p>