
@{
    ViewBag.Title = "Download";
}

<h2>Tower Offense Download</h2>

<p><a href="https://portalvhdspqj9kzn4lqvlp.blob.core.windows.net/game/TowerOffense.zip" target="_blank" class="btn btn-primary btn-large">Download</a></p>