<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://csci4950.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-ch1-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>csci4950</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$csci4950</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True" xmlns="">
          <Destination Path="Data Source=g8a9h5zlj0.database.windows.net;Initial Catalog=toweroffense;Persist Security Info=True;User ID=csci4950;Password=fsei8235@#$" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TowerSite.Models.ApplicationDbContext, TowerSite" MigrationConfiguration="TowerSite.Migrations.Configuration, TowerSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="3" Enabled="False" xmlns="">
          <Destination Path="Data Source=g8a9h5zlj0.database.windows.net;Initial Catalog=toweroffense;Persist Security Info=True;User ID=csci4950;Password=fsei8235@#$;Application Name=EntityFramework" Name="Data Source=g8a9h5zlj0.database.windows.net;Initial Catalog=toweroffense;Persist Security Info=True;User ID=csci4950;Password=fsei8235@#$;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TowerSite.Models.Entities, TowerSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=g8a9h5zlj0.database.windows.net;Initial Catalog=toweroffense;Persist Security Info=True;User ID=csci4950;Password=fsei8235@#$</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.LeaderboardModel.csdl|res://*/Models.LeaderboardModel.ssdl|res://*/Models.LeaderboardModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=g8a9h5zlj0.database.windows.net;Initial Catalog=toweroffense;Persist Security Info=True;User ID=csci4950;Password=fsei8235@#$;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>